$darkBlue:darkslategrey;
$coral:coral;
$coral2:rgb(252, 181, 156);
$aquamarine:aquamarine;
$white:white;
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition:$args;
    -o-transition:$args;
    transition: $args;
}
body{
    font-family: Arial;
    color:$darkBlue;
    padding: 10px 20px;
    height: 2000px;
    text-align: center;
    margin-top: 10vh;
    
}

#wrapper{
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        top: 100;
        display: table;
        margin: 0 auto;
        font-size: 96px;
        color:$coral;
        @include transition(color .4s ease-out);
        &:hover{
            color:$coral2;
        }
    }
}
.box{
    height: 150px;
    width: 100vw;
    z-index: -2;
    // top: 200;
    position: absolute;
    border-top: 0;
    top: 0;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
    background-color: black;
}
a,ul{
    font-size: 18px;
    text-decoration: none;
    line-height: 8vh;
    color: $aquamarine;
    @include transition(color .4s ease-out);
        &:hover{
            color:$white;
        }
}
.inner{
    color:$coral;
        @include transition(color .4s ease-out);
        &:hover{
            color:$coral2;
        }
}

#video-background {
    
      position: fixed;
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      z-index: -100;
    }